/**
* Landing page styles
*/

.app {
    height: 100vh;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
}

.button-wrapper {
    display: flex;
    gap: 1rem;
}
