.auth {
    height: 100vh;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

@media (max-width: 600px) {
    .auth-form {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .auth-form {
        width: 50%;
    }
}

.auth-link-msg {
    text-align: center;
}

.auth-link-msg a {
    text-decoration: underline;
}
